<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @media print {
      
      p {
        break-inside: avoid;
      }
    }
  </style>
</head>

<body style="background: linear-gradient(to right, #141729 50%, #D8E9FD 50%)">
    {% block content %} {% endblock %}
</body>

</html>