{% extends "base.html" %}
{% block title %} Carl's Resume {% endblock title %}
{% block content %}
<div class="hidden print:block">
    <div>
        <div class="pr-4 pl-4">
            {% set profile = get_page(path="resume/profile.md") %}
            <div class="text-center">
                <div class="font-sans text-3xl">{{ profile.extra.name }}</div>
                <div class="font-sans text-sm pt-2">
                    {{ profile.extra.about }}
                </div>
            </div>
            <div class="text-left">
                {% set knowledge = get_section(path="resume/knowledge/_index.md") %}
                {% for knowledge in knowledge.pages %}
                {% if knowledge.extra.display %}
                <div class="font-extrabold text-md pt-2">{{ knowledge.extra.name }}</div>
                <div class="font-sans text-sm pt-1">
                    {{ knowledge.extra.values | join(sep=", ") }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pt-4 pr-4 pl-4">
        <div class="text-3xl pt-2">Work</div>
        {% set works = get_section(path="resume/work/_index.md") %}
        {% for work in works.pages | reverse %}
        {% if work.extra.display %}
        <div class="break-inside-avoid">
            <div>
                <div class="text-lg font-bold">{{ work.extra.name }}</div>
                {% for position in work.extra.positions | reverse %}
                {% if loop.index == 1 %}
                <div class="text-sm font-semibold">{{ position.title }}</div>
                <div class="text-sm font-semibold">{{ position.start }} - {{ position.end }}</div>
                {% else %}
                <div class="text-xs">{{ position.title }}</div>
                <div class="text-xs">{{ position.start }} - {{ position.end }}</div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="pb-2">
                {% for task in work.extra.tasks %}
                <p class="pb-2">
                    {{ task }}
                </p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <!------------------------------->
        {% set educations = get_section(path="resume/education/_index.md") %}
        {% for education in educations.pages %}
        <div>
            <div class="text-lg font-bold">Education</div>
            <div class="text-sm font-semibold">{{ education.extra.name }}</div>
            <div class="text-sm font-semibold">{{ education.extra.start }} - {{ education.extra.end }}</div>
        </div>
        <div>
            <div class="pb-4">
                {% for result in education.extra.results %}
                <p class="pb-2">
                    {{ result }}
                </p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="w-screen mr-auto ml-auto grid h-screen md:max-w-screen-2xl md:grid-cols-12 print:hidden">
    <div class="md:col-span-4" style="background: #141729">
        <div class="col-span-1 pt-8 pr-4 pl-4">
            {% set profile = get_page(path="resume/profile.md") %}
            <img class="w-32 h-32 rounded-full mx-auto" src="{{ profile.extra.avatar | safe }}?s=200"
                alt="Avatar of {{ profile.extra.name }}" />

            <div class="text-[#F8F7FF] text-center pt-4">
                <div class="font-sans text-3xl">{{ profile.extra.name }}</div>
                <div class="font-sans text-sm pt-2">
                    {{ profile.extra.about }}
                </div>
            </div>
            <div class="text-[#F8F7FF] text-left pt-4 pb-4">

                {% set knowledge = get_section(path="resume/knowledge/_index.md") %}
                {% for knowledge in knowledge.pages %}
                {% if knowledge.extra.display %}
                <div class="font-extrabold text-md pt-8">{{ knowledge.extra.name }}</div>
                <div class="font-sans text-sm pt-2">
                    {{ knowledge.extra.values | join(sep=", ") }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-gray-100 md:col-span-8 p-8 font-sans" style="background: #F8F7FF">
        <div class="grid grid-cols-12 gap-4">
            {% set works = get_section(path="resume/work/_index.md") %}
            {% for work in works.pages | reverse %}
            {% if work.extra.display %}
            <div class="col-span-4">
                <div class="text-lg font-bold">{{ work.extra.name }}</div>
                {% for position in work.extra.positions | reverse %}
                {% if loop.index == 1 %}
                <div class="text-sm font-semibold">{{ position.title }}</div>
                <div class="text-sm font-semibold">{{ position.start }} - {{ position.end }}</div>
                {% else %}
                <div class="text-xs">{{ position.title }}</div>
                <div class="text-xs">{{ position.start }} - {{ position.end }}</div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-span-8 pb-4">
                {% for task in work.extra.tasks %}
                <p class="pb-4">
                    {{ task }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}

            <!------------------------------->
            {% set educations = get_section(path="resume/education/_index.md") %}
            {% for education in educations.pages %}
            <div class="col-span-4">
                <div class="text-lg font-bold">Education</div>
                <div class="text-sm font-semibold">{{ education.extra.name }}</div>
                <div class="text-sm font-semibold">{{ education.extra.start }} - {{ education.extra.end }}</div>
            </div>
            <div class="col-span-8">
                <div class="col-span-8 pb-4">
                    {% for result in education.extra.results %}
                    <p class="pb-2">
                        {{ result }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}